@define-mixin light-mode {
	--color-text: 0 0% 4%;
	--color-bg: 0 0% 100%;
	--color-card: 0 0% 50% / 0.2;
	--color-primary: 7 93% 65%;

	color-scheme: light;
}

@define-mixin dark-mode {
	--color-text: 0 0% 100%;
	--color-bg: 0 0% 4%;
	--color-card: 0 0% 13% / 0.8;
	--color-primary: 330 100% 71%;

	color-scheme: dark;
}

:root {
	@mixin light-mode;

	accent-color: hsl(var(--color-primary));
	color: hsl(var(--color-text));
	background-color: hsl(var(--color-bg));
}

:root[data-theme='dark'] {
	@mixin dark-mode;
}

/* Dark mode overrides */
@media (prefers-color-scheme: dark) {
	:root {
		@mixin dark-mode;
	}

	:root[data-theme='light'] {
		@mixin light-mode;
	}
}
