.heading {
	font-size: 2rem;
	line-height: 1.1;
	font-weight: 800;

	margin-bottom: 2rem;
	text-align: center;
}

.content {
	display: flex;
	flex-direction: column;

	background-color: hsl(var(--color-card));

	& > :last-child {
		flex-grow: 1;
	}

	height: 80vh;
	width: 100%;

	margin: auto;

	border: 1px solid black;
	padding: 1rem;
	border-radius: 0.625rem;
	box-shadow: 1.25rem 1.25rem 0 0.5rem hsl(var(--color-primary) / 0.2);
}
